.modal{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: purple;
    opacity: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    transition: .5s;
}
.show{

    z-index: 9999;
    opacity: 0.8;
}
